@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: rgb(205, 203, 201);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  gap: 10px;
  min-width: 450px;
}

.ul-elements,
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.task-display {
  padding: 4%;
}

.task-submit {
  background-color: #6FA6F1;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  transition: all ease-in-out 0.2s;
}

.task-submit:hover {
  background-color: #1C76F1;
}

.fa-icons {
  flex: 1;
  font-size: 1.3rem;
  color: grey;
  padding: 3%;
  margin: 3%;
  transition: all ease-out 0.2s;

}

.fa-icons.delete:hover {
  color: #FF6033;
}

.fa-icons.edit:hover {
  color: #1C76F1;
}


.taskButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.task-elements {
  border: 2px solid rgb(155, 151, 151);
  background-color: rgb(232, 232, 228);
  margin: 3%;
  padding: 3%;
  border-radius: 4px;
}

form {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.task-input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

.home-title {
  text-align: center;
  padding: 0 3%;
}

.edit-task-btn {
  display: flex;
  gap: 4%;
}

.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.edit-input,
.edit-btn {
  padding: 8px 18px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

.edit-btn {
  background-color: #6FA6F1;
  color: #ffff;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
}

.edit-btn:hover{
  background-color: #1C76F1;
}
.button-actions {
  display: flex;
  gap: 6%;
}

button {
  border: none;
  background-color: rgb(232, 232, 228);
  transition: all ease-in 0.2s;
  
}



input[type='submit'],
input[type='text'] {
  font-family: 'Roboto', sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.delete-modal p {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.delete-btn,
.cancel-btn {
  margin: 0 10px;
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  border: 1px solid #fff;
  font-size: 1rem;
  font-weight: 700;
  color: #515351;
}

.delete-btn:hover {
  background-color: #FF6033;
  border: 1px solid #fff;
  color: #ffff;
}

.cancel-btn:hover {
  background-color: #1C76F1;
  border: 1px solid #ffff;
  color: #ffff;
}


